html, body {
	height: 100%;
}
@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
	font-family: 'Lobster';
}

	#facebook{ background-color:#000;
			background: rgba(0,0,0,0.5);
		}
	#instagram{ background-color:#000;
			background: rgba(0,0,0,0.5);
			}
	#pinterest{ background-color:#000;
			background: rgba(0,0,0,0.5);
		}

		#comunidade {
			flex-direction: column;
			height: 600px;
		}
		#comunidade div, #comunidade div a{
			flex: 1;
			width: 100%;
			margin: 30px;
			text-align: center;
			line-height: 200px;
			color: #ffed00;
			font-size: 42px;
		}
		
		#carousel {
			height: 100%;
			width: 100%;
			margin: auto;
			alignment-adjust:central;
		}
		
		.arrow {
			width: 30px;
			height: 30px;
			background-color: white;
			text-align: center;
			font-size: 25px;
			border-radius: 50%;
			cursor: pointer;
			font-size: 20px;
			color: #228291;
			line-height: 30px;
			margin-top: 85px;
			z-index: 1000;
		}
		
		.arrow-right {
			right: 0%;
		}
		
		.item {
			text-align: center;
			color: white;
			font-size: 40px;
			transition: height 1s, width 1s, left 1s, line-height 1s, background-color 1s;
		}

		.item span {
			line-height: initial;
		}
		
		.level-2 {
			width:10%;
			line-height: 150px;
			background-color: #228291;
			margin-top: 25px;
		}
		
		.level-1 {
			width: 25%;
			line-height: 180px;
			background-color: #6796E5;
			margin-top: 10px;
		}
		
		.level0 {
			width: 30%;
			line-height: 200px;
			background-color: #4EC9E1;
		}
		
		.level1 {
			width: 25%;
			line-height: 180px;
			background-color: #6796E5;
			margin-top: 10px;
		}
		
		.level2 {
			width: 10%;
			line-height: 150px;
			background-color: #228291;
			margin-top: 25px;
		}
		
		.left-leave, .right-leave {
			opacity: 1;
			width: 10%;
		}
		
		.right-enter, .left-enter {
			opacity: 0.5;
			width: 0;
		}
		.right-leave.right-leave-active, .right-enter.right-enter-active,
		.left-enter.left-enter-active, .right-leave.right-leave-active{
			transition: left 1s, opacity 1s, width 1s;
		}
		.right-enter.right-enter-active, .left-enter.left-enter-active {
			opacity: 1;
			width: 10%;
		}
		
		.right-leave.right-leave-active, .left-leave.left-leave-active {
			opacity: 0.5;
			width: 0;
		}
		
		.noselect {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		
		div#Conteudo > div {
			width: 75%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		div#Conteudo div#carousel {
			
			display: grid;
			position: relative;
			grid-template-columns: 30px 1fr 30px;
		}
		
		div#Conteudo div#carousel > span {
			display: flex;
		}