html, body {
	height: 100%;
}
@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
	font-family: 'Lobster';
}

	#facebook{ background-color:#000;
			background: rgba(0,0,0,0.5);
		}
	#instagram{ background-color:#000;
			background: rgba(0,0,0,0.5);
			}
	#pinterest{ background-color:#000;
			background: rgba(0,0,0,0.5);
		}

		#comunidade {
			flex-direction: column;
			height: 600px;
		}
		#comunidade div, #comunidade div a{
			flex: 1;
			width: 100%;
			margin: 30px;
			text-align: center;
			line-height: 200px;
			color: #ffed00;
			font-size: 42px;
		}
		
		#carousel {
			height: 100%;
			width: 100%;
			margin: auto;
			alignment-adjust:central;
		}
		
		.arrow {
			width: 30px;
			height: 30px;
			background-color: white;
			text-align: center;
			font-size: 25px;
			border-radius: 50%;
			cursor: pointer;
			font-size: 20px;
			color: #228291;
			line-height: 30px;
			margin-top: 85px;
			z-index: 1000;
		}
		
		.arrow-right {
			right: 0%;
		}
		
		.item {
			text-align: center;
			color: white;
			font-size: 40px;
			transition: height 1s, width 1s, left 1s, line-height 1s, background-color 1s;
		}

		.item span {
			line-height: initial;
		}
		
		.level-2 {
			width:10%;
			line-height: 150px;
			background-color: #228291;
			margin-top: 25px;
		}
		
		.level-1 {
			width: 25%;
			line-height: 180px;
			background-color: #6796E5;
			margin-top: 10px;
		}
		
		.level0 {
			width: 30%;
			line-height: 200px;
			background-color: #4EC9E1;
		}
		
		.level1 {
			width: 25%;
			line-height: 180px;
			background-color: #6796E5;
			margin-top: 10px;
		}
		
		.level2 {
			width: 10%;
			line-height: 150px;
			background-color: #228291;
			margin-top: 25px;
		}
		
		.left-leave, .right-leave {
			opacity: 1;
			width: 10%;
		}
		
		.right-enter, .left-enter {
			opacity: 0.5;
			width: 0;
		}
		.right-leave.right-leave-active, .right-enter.right-enter-active,
		.left-enter.left-enter-active, .right-leave.right-leave-active{
			transition: left 1s, opacity 1s, width 1s;
		}
		.right-enter.right-enter-active, .left-enter.left-enter-active {
			opacity: 1;
			width: 10%;
		}
		
		.right-leave.right-leave-active, .left-leave.left-leave-active {
			opacity: 0.5;
			width: 0;
		}
		
		.noselect {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		
		div#Conteudo > div {
			width: 75%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		div#Conteudo form legend,
		div#Conteudo form label
		{
			color: #ffed00;
			font-size: 30px;
		}
		div#Conteudo form{
			width: 50%;
		}
		div#Conteudo form fieldset{
			background: rgba(0,0,0,0.5);
		}
		div#Conteudo form label{
			float: left;
			width: 100%;
			margin-bottom: 50px;
		}
		div#Conteudo form input,
		div#Conteudo form textarea{
			width: 100%;
			height: 40px;
			font-size: 20px; 
		}

		div#Conteudo form textarea {
			height: 100px;
		}
		div#Conteudo form button{
			height: 40px;
			font-size: 20px; 
		}

		div#Conteudo div#carousel {
			
			display: grid;
			position: relative;
			grid-template-columns: 30px 1fr 30px;
		}
		
		div#Conteudo div#carousel > span {
			display: flex;
		}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	display: flex;
    justify-content: space-around;
}

li {
	float: left;
	width: 100%;
	text-align: center;
}

li a {
	display: block;
	color: #ffed00;
	text-align: center;
	padding: 1px 16px;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	width: 100%;
	box-sizing: border-box;
	font-size: 30px;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
	background-color: #111;
}

#Logo {
	width: 100%;
	height: 300px;
	margin-top: 50px;
	left: 0px;
	text-align: center;
}

#Logo  img {
	background: rgba(0,0,0,0.5);
}

#Conteudo {
	display: flex;
	bottom: 0px;
	justify-content: center;
	height: 925px;
	margin: 0;
	padding: 0;
}

#rodape {
	width: 100%;
	height: auto;
	color: #ffed00;
	background-color: #333;
	text-align: center;


}

.castlevania1 {
	background: url('../imagens/castlevania_play.jpg') no-repeat center center;
	background-size:contain;
}
.ducktales {
	background: url('../imagens/ducktales.jpg') no-repeat center center;
	background-size:contain;
}
.zelda {
	background: url('../imagens/zelda_play_1.jpg') no-repeat center center;
	background-size:contain;
}
.pacman {
	background: url('../imagens/pacman_play_1.jpg') no-repeat center center;
	background-size:contain;
}
.mariobross1 {
	background: url('../imagens/mariobross1.jpg') no-repeat center center;
	background-size:contain;
}
.mariobross3 {
	background: url('../imagens/mariobross3.jpg') no-repeat center center;
	background-size:contain;
}
.megaman {
	background: url('../imagens/megaman_play_1.jpg') no-repeat center center;
	background-size:contain;
}
.bomberman {
	background: url('../imagens/bomberman_play_1.jpg') no-repeat center center;
	background-size:contain;
}
.metroid {
	background: url('../imagens/metroid.jpg') no-repeat center center;
	background-size:contain;
}
.tetris {
	background: url('../imagens/tetris.jpg') no-repeat center center;
	background-size:contain;
}
.tinytoon {
	background: url('../imagens/tinytoon.jpg') no-repeat center center;
	background-size:contain;
}
.kirby {
	background: url('../imagens/kirby.jpg') no-repeat center center;
	background-size:contain;
}
