@charset "utf-8";

/* CSS Document */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	display: flex;
    justify-content: space-around;
}

li {
	float: left;
	width: 100%;
	text-align: center;
}

li a {
	display: block;
	color: #ffed00;
	text-align: center;
	padding: 1px 16px;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	width: 100%;
	box-sizing: border-box;
	font-size: 30px;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
	background-color: #111;
}

#Logo {
	width: 100%;
	height: 300px;
	margin-top: 50px;
	left: 0px;
	text-align: center;
}

#Logo  img {
	background: rgba(0,0,0,0.5);
}

#Conteudo {
	display: flex;
	bottom: 0px;
	justify-content: center;
	height: 925px;
	margin: 0;
	padding: 0;
}

#rodape {
	width: 100%;
	height: auto;
	color: #ffed00;
	background-color: #333;
	text-align: center;


}

.castlevania1 {
	background: url('./imagens/castlevania_play.jpg') no-repeat center center;
	background-size:contain;
}
.ducktales {
	background: url('./imagens/ducktales.jpg') no-repeat center center;
	background-size:contain;
}
.zelda {
	background: url('./imagens/zelda_play_1.jpg') no-repeat center center;
	background-size:contain;
}
.pacman {
	background: url('./imagens/pacman_play_1.jpg') no-repeat center center;
	background-size:contain;
}
.mariobross1 {
	background: url('./imagens/mariobross1.jpg') no-repeat center center;
	background-size:contain;
}
.mariobross3 {
	background: url('./imagens/mariobross3.jpg') no-repeat center center;
	background-size:contain;
}
.megaman {
	background: url('./imagens/megaman_play_1.jpg') no-repeat center center;
	background-size:contain;
}
.bomberman {
	background: url('./imagens/bomberman_play_1.jpg') no-repeat center center;
	background-size:contain;
}
.metroid {
	background: url('./imagens/metroid.jpg') no-repeat center center;
	background-size:contain;
}
.tetris {
	background: url('./imagens/tetris.jpg') no-repeat center center;
	background-size:contain;
}
.tinytoon {
	background: url('./imagens/tinytoon.jpg') no-repeat center center;
	background-size:contain;
}
.kirby {
	background: url('./imagens/kirby.jpg') no-repeat center center;
	background-size:contain;
}
